In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Importing pickle files

pdf1950 = pd.read_pickle('Notebooks and pkls/pdf1950.pkl')
pdf1960 = pd.read_pickle('Notebooks and pkls/pdf1960.pkl')
pdf1970 = pd.read_pickle('Notebooks and pkls/pdf1970.pkl')
pdf1980 = pd.read_pickle('Notebooks and pkls/pdf1980.pkl')
pdf1990 = pd.read_pickle('Notebooks and pkls/pdf1990.pkl')
pdf2000 = pd.read_pickle('Notebooks and pkls/pdf2000.pkl')
pdf2010 = pd.read_pickle('Notebooks and pkls/pdf2010.pkl')
pdf2020 = pd.read_pickle('Notebooks and pkls/pdf2020.pkl')

df_edu_2000 = pd.read_pickle('Notebooks and pkls/df_edu_2000.pkl')
df_edu_2010 = pd.read_pickle('Notebooks and pkls/df_edu_2010.pkl')
df_edu_2020 = pd.read_pickle('Notebooks and pkls/df_edu_2020.pkl')

df_inc_2000 = pd.read_pickle('Notebooks and pkls/df_inc_2000.pkl')
df_inc_2010 = pd.read_pickle('Notebooks and pkls/df_inc_2010.pkl')
df_inc_2020 = pd.read_pickle('Notebooks and pkls/df_inc_2020.pkl')

In [3]:

for i, row in pdf1950.iloc[1:2].iterrows():
    White_1950_list.append([row['Census Tract 9, Hamilton County, Ohio'], row['Census Tract 10, Hamilton County, Ohio'],
                       row['Census Tract 16, Hamilton County, Ohio'], row['Census Tract 17, Hamilton County, Ohio'],
                       row['TOTAL (All Selected Census Tracts)']])

NameError: name 'White_1950_list' is not defined

In [ ]:
wdf2 = pd.DataFrame(White_list)

In [ ]:
White_1950_list =[]
White_list = [pdf1950.iloc[[1]:2],pdf1960.iloc[[1]:2],pdf1970.iloc[[1]:2],pdf1980.iloc[[1]:2],
              pdf1990.iloc[[1]:2],pdf2000.iloc[[1]:2], pdf2010.iloc[[1]:2], pdf2020.iloc[[1]:2]]

for i,row in White_list.iterrows():
    White_1950_list.append([row['Census Tract 9, Hamilton County, Ohio'],row['Census Tract 10, Hamilton County, Ohio'],
                       row['Census Tract 16, Hamilton County, Ohio'], row['Census Tract 17, Hamilton County, Ohio'],
                       row['TOTAL (All Selected Census Tracts)']])
White_1950_list

In [ ]:
Wdata = {}
for name in White_list:
    Wdata[name] = pd.DataFrame()

In [ ]:
White_1950_list =[]
White_list = [pdf1950.iloc[1:2],pdf1960.iloc[1:2],pdf1970.iloc[1:2],pdf1980.iloc[1:2],
              pdf1990.iloc[1:2],pdf2000.iloc[1:2], pdf2010.iloc[1:2], pdf2020.iloc[1:2]]

wls = pd.DataFrame(White_list)
#for i in White_list():
    #White_1950_list.append([i, i+1])

In [ ]:
i = pdf1950
White_list = []
for i in White_list:
    for i, row in pdf1950.iloc[1:2].iterrows():
        White_1950_list.append([row['Census Tract 9, Hamilton County, Ohio'], row['Census Tract 10, Hamilton County, Ohio'],
        row['Census Tract 16, Hamilton County, Ohio'], row['Census Tract 17, Hamilton County, Ohio'],
        row['TOTAL (All Selected Census Tracts)']])
        i = i+10
    if i == 2010:
        break
        
        #mynew =[row['Census Tract 9, Hamilton County, Ohio'], row['Census Tract 10, Hamilton County, Ohio'],
                       #row['Census Tract 16, Hamilton County, Ohio'], row['Census Tract 17, Hamilton County, Ohio'],
                       #row['TOTAL (All Selected Census Tracts)']]

In [ ]:
White_1960_list

In [116]:
#It works for the first dataframe 1950

datakeyArray = ['Census Tract 9, Hamilton County, Ohio', 'Census Tract 10, Hamilton County, Ohio',
                'Census Tract 16, Hamilton County, Ohio', 'Census Tract 17, Hamilton County, Ohio',
                'TOTAL (All Selected Census Tracts)']

def CreateNewDf(dataFrame):
    mynew = None
    dataframe = [pdf1950, pdf1960,pdf1970, pdf1980,pdf1990,pdf2000,pdf2010,pdf2020]
    dataframe = pd.concat(dataframe)
    for i in dataframe:
        mynew = []
        #return dataframe
    for i, row in dataframe.iloc[1:2].iterrows():
        mynew = [row[datakeyArray[0]], row[datakeyArray[1]], row[datakeyArray[2]], 
                 row[datakeyArray[3]], row[datakeyArray[4]]]
    return mynew

In [120]:
datakeyArray = ['Census Tract 9, Hamilton County, Ohio', 'Census Tract 10, Hamilton County, Ohio',
                'Census Tract 16, Hamilton County, Ohio', 'Census Tract 17, Hamilton County, Ohio',
                'TOTAL (All Selected Census Tracts)']

def CreateNewDf(dataFrame):
    #mynew = None
    newFrame = []
    dataframe = [pdf1950, pdf1960,pdf1970, pdf1980,pdf1990,pdf2000,pdf2010,pdf2020]
    dataframe = pd.concat(dataframe)
    for i in dataframe:
        newFrame = []
        #return dataframe
    for row in dataframe.iterrows():
        newFrame.append([[row[datakeyArray[0]]], [row[datakeyArray[1]]], [row[datakeyArray[2]]], 
                 [row[datakeyArray[3]]], [row[datakeyArray[4]]]])
        pd.concat(newFrame)
    return newFrame

In [ ]:
#Chris code
newFrame = []
for row in dataframe.iterrows():[row.iloc[1:2]
  newFrame.append([row.iloc[1:2][datakeyArray[0]], ...])
pd.concat(newFrame)

In [ ]:
    for row in dataframe.iterrows():
        newFrame.append([row.iloc[1:2][datakeyArray[0]]], [row.iloc[1:2][datakeyArray[1]]], [row.iloc[1:2][datakeyArray[2]]], 
                 [row.iloc[1:2][datakeyArray[3]]], [row.iloc[1:2][datakeyArray[4]]])
    return newFrame

In [121]:
CreateNewDf(pdf1960)

TypeError: tuple indices must be integers or slices, not str

In [70]:
dataframe = [pdf1950, pdf1960,pdf1970, pdf1980,pdf1990,pdf2000,pdf2010,pdf2020]
dataframe = pd.concat(dataframe)
def f(dataframe):
    for i in dataframe:
        return dataframe

In [71]:
f(pdf1950)

,Category,"Census Tract 9, Hamilton County, Ohio","Census Tract 10, Hamilton County, Ohio","Census Tract 16, Hamilton County, Ohio","Census Tract 17, Hamilton County, Ohio",TOTAL (All Selected Census Tracts)
13,Total Population:,7565.0,5781.0,5931.0,6353.0,25630.0
14,White,7474.0,5752.0,5849.0,6207.0,25282.0
15,Black,79.0,6.0,81.0,139.0,305.0
16,Other,12.0,23.0,1.0,7.0,43.0

In [75]:
CreateNewDf(pdf1950)

,Category,"Census Tract 9, Hamilton County, Ohio","Census Tract 10, Hamilton County, Ohio","Census Tract 16, Hamilton County, Ohio","Census Tract 17, Hamilton County, Ohio",TOTAL (All Selected Census Tracts),Census Tract 9 Total,Census Tract 10 Total,Census Tract 16 Total,Census Tract 17 Total
13,Total Population:,7565.0,5781.0,5931.0,6353.0,25630.0,NaN,NaN,NaN,NaN
14,White,7474.0,5752.0,5849.0,6207.0,25282.0,NaN,NaN,NaN,NaN
15,Black,79.0,6.0,81.0,139.0,305.0,NaN,NaN,NaN,NaN
16,Other,12.0,23.0,1.0,7.0,43.0,NaN,NaN,NaN,NaN
14,Total Population:,5918.0,4946.0,5956.0,5917.0,22737.0,NaN,NaN,NaN,NaN
15,White,5049.0,4891.0,5455.0,5604.0,20999.0,NaN,NaN,NaN,NaN
16,Black,842.0,37.0,501.0,309.0,1689.0,NaN,NaN,NaN,NaN
17,Other Race,27.0,18.0,0.0,4.0,49.0,NaN,NaN,NaN,NaN
33,Total Population:,3457.0,2893.0,3127.0,3544.0,13021.0,NaN,NaN,NaN,NaN
34,White,2011.0,2548.0,1865.0,2363.0,8787.0,NaN,NaN,NaN,NaN
35,Black,1418.0,315.0,1258.0,1181.0,4172.0,NaN,NaN,NaN,NaN
36,Some Other Race,28.0,30.0,4.0,0.0,62.0,NaN,NaN,NaN,NaN
38,Total Population:,2616.0,2322.0,2961.0,2307.0,10206.0,NaN,NaN,NaN,NaN
39,White,811.0,1584.0,962.0,857.0,4214.0,NaN,NaN,NaN,NaN
40,Black,1790.0,729.0,1983.0,1434.0,5936.0,NaN,NaN,NaN,NaN
41,"American Indian, Eskimo, and Aleut",2.0,3.0,1.0,4.0,10.0,NaN,NaN,NaN,NaN
42,Asian and Pacific Islander,5.0,2.0,6.0,5.0,18.0,NaN,NaN,NaN,NaN
43,Other,8.0,4.0,9.0,7.0,28.0,NaN,NaN,NaN,NaN
36,Persons:,2614.0,1594.0,2312.0,1861.0,8381.0,NaN,NaN,NaN,NaN
37,White,765.0,828.0,472.0,403.0,2468.0,NaN,NaN,NaN,NaN
38,Black,1820.0,746.0,1817.0,1447.0,5830.0,NaN,NaN,NaN,NaN
39,"American Indian, Eskimo, or Aleut",22.0,5.0,8.0,3.0,38.0,NaN,NaN,NaN,NaN
40,Asian or Pacific Islander,1.0,15.0,3.0,3.0,22.0,NaN,NaN,NaN,NaN
41,Other race,6.0,0.0,12.0,5.0,23.0,NaN,NaN,NaN,NaN
41,Total Population:,2070.0,1357.0,1712.0,1358.0,6497.0,NaN,NaN,NaN,NaN
42,White Alone,505.0,384.0,213.0,214.0,1316.0,NaN,NaN,NaN,NaN
43,Black or African American Alone,1469.0,921.0,1437.0,1106.0,4933.0,NaN,NaN,NaN,NaN
44,American Indian and Alaska Native Alone,14.0,1.0,4.0,5.0,24.0,NaN,NaN,NaN,NaN
45,Asian Alone,11.0,9.0,5.0,4.0,29.0,NaN,NaN,NaN,NaN
46,Native Hawaiian and Other Pacific Islander Alone,0.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
47,Some other race Alone,12.0,12.0,20.0,14.0,58.0,NaN,NaN,NaN,NaN
41,Total population:,1652.0,1437.0,1487.0,1488.0,6064.0,NaN,NaN,NaN,NaN
42,White alone,539.0,578.0,200.0,201.0,1518.0,NaN,NaN,NaN,NaN
43,Black or African American alone,1059.0,791.0,1270.0,1241.0,4361.0,NaN,NaN,NaN,NaN
44,American Indian and Alaska Native alone,10.0,3.0,1.0,3.0,17.0,NaN,NaN,NaN,NaN
45,Asian alone,12.0,24.0,3.0,7.0,46.0,NaN,NaN,NaN,NaN
46,Native Hawaiian and Other Pacific Islander alone,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
47,Some Other Race alone,6.0,8.0,0.0,2.0,16.0,NaN,NaN,NaN,NaN
8,Total Population,NaN,NaN,NaN,NaN,5622.0,1660.0,1688.0,1059.0,1215.0
9,White,NaN,NaN,NaN,NaN,2655.0,847.0,1045.0,389.0,374.0
10,African American or Black,NaN,NaN,NaN,NaN,2438.0,676.0,456.0,586.0,720.0
11,American Indian and Alaska Native,NaN,NaN,NaN,NaN,8.0,4.0,4.0,0.0,0.0
12,Asian,NaN,NaN,NaN,NaN,107.0,28.0,51.0,7.0,21.0
13,Native Hawaiian and Other Pacific Islander,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,0.0
14,Other,NaN,NaN,NaN,NaN,55.0,17.0,16.0,9.0,13.0

In [34]:
CreateNewDf(pdf1960)

,Category,"Census Tract 9, Hamilton County, Ohio","Census Tract 10, Hamilton County, Ohio","Census Tract 16, Hamilton County, Ohio","Census Tract 17, Hamilton County, Ohio",TOTAL (All Selected Census Tracts)
13,Total Population:,7565.0,5781.0,5931.0,6353.0,25630.0
14,White,7474.0,5752.0,5849.0,6207.0,25282.0
15,Black,79.0,6.0,81.0,139.0,305.0
16,Other,12.0,23.0,1.0,7.0,43.0

In [ ]:
# iterate over the rows
for i, row in pdf1950.iloc[1:2].iterrows():
    # create a list representing the dataframe row
    White_1950_rows = [row['Census Tract 9, Hamilton County, Ohio'], row['Census Tract 10, Hamilton County, Ohio'],
                       row['Census Tract 16, Hamilton County, Ohio'], row['Census Tract 17, Hamilton County, Ohio'],
                       row['TOTAL (All Selected Census Tracts)']]

In [ ]:
White_1950_rows